@charset "GB2312";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  background-color: #ffe5cd;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span {
  margin: 0;
  padding: 0;
}

#headerbg {
  width: 100%;
  height: 740px;
  float: left;
  margin: -557px 0 0 -40px;
  padding: 0;
  background-image: url(images/picture01.jpeg);
  background-repeat: no-repeat;
  background-position:top;
  opacity: 0.9;
}

#headerblank {
  width: 1004px;
  height: 740px;
  float: none;
  margin: auto;
  padding: 0;
}

#first {
  width: 300px;
  height: 557px;
  float: left;
  margin: 0;
  padding: 0;
  background-image: url(images/picture08_01.jpg);
  background-repeat: no-repeat;
}

#after {
  width: 300px;
  height: 557px;
  float: left;
  margin: 0 0 0 1259px;
  padding: 0;
  background-image: url(images/picture08_01.jpg);
  background-repeat: no-repeat;
  background-position: -300px 0;
  position: relative;
}

#menublank {
  width: 935px;
  height: 29px;
  float: left;
  margin: 0;
  padding: 0 0 0 69px;
  position: center;
  z-index: 1;
}

#menu {
  width: 867px;
  height: 29px;
  float: left;
  margin: -550px 0 0 0;
  padding: 0;
;
}

#menu ul {
  width: 867px;
  height: 29px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#menu ul li {
  height: 29px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#menu ul li a.menu {
  border-radius: 10px;
  height: 25px;
  float: left;
  margin: 0;
  padding: 5px 21px 2px 21px;
  font-family: "楷体", serif;
  font-size: 20px;
  font-weight: bold;
  color: #ff6232;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255,255,255,0.6);
}

#menu ul li a.menu:hover {
  border-radius: 10px;
  height: 25px;
  float: left;
  margin: 0;
  padding: 5px 21px 2px 21px;
  font-family: "楷体", serif;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background-image: radial-gradient(circle at center,#ff7627,#ffe5cd);
  background-repeat: repeat-x;
}

#biu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px 0 0 0;
  background-image: radial-gradient(circle at center,  #ff7627,#ffb6c3);
  border: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline:none;
}

/*#biu:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px 0 0 0;
  background-image: radial-gradient(circle at center, #ffb6c3, #ff7627);
  border: 0px;
}*/

#biu:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.3s, opacity 0.5s;
}

#biu:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  /*设置初始状态*/
  transition: 0s;
}

#demo {
  width: 295px;
  height: 20px;
  padding: 0 0 0 15px;
  margin: 20px 0 0 0;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #ade6a7, #ff7627);
}

#headerrightblank {
  width: 311px;
  float: right;
  margin: -1100px 70px 0 0;
  padding: 0;
}

#headernav {
  width: 290px;
  height: 25px;
  float: right;
  margin: 555px 0 0 0;
  padding: 0 0 0 21px;
  position: absolute;
  z-index: 1;
}

#headernav ul {
  height: 25px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#headernav ul li {
  height: 15px;
  float: left;
  margin: 0;
  padding: 7px 0 0 0;
  display: block;
}

#headernav ul li a.register {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 19px;
  font-size: 17px;
  font-weight: bold;
  color: #e2fff3;
  text-decoration: none;
  background-image: url(images/registericon.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-color: rgba(255,255,255,0.5);

}

#headernav ul li a.register:hover {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 19px;
  font-family: "微软雅黑", serif;
  font-size: 17px;
  font-weight: bold;
  color: #e2fff3;
  text-decoration: underline;
  background-image: url(images/registericon.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
}

#headernav ul li a.login {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 19px;
  font-family: "微软雅黑", serif;

  font-size: 17px;
  font-weight: bold;
  color: #e2fff3;
  text-decoration: none;
  background-image: url(images/login.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-color: rgba(255,255,255,0.5);
}

#headernav ul li a.login:hover {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 19px;
  font-family: "微软雅黑", serif;
  font-size: 17px;
  font-weight: bold;
  color: #e2fff3;
  text-decoration: underline;
  background-image: url(images/login.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
}

#headernav ul li a.bookmark {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 19px;
  font-family: "微软雅黑", serif;
  font-size: 17px;
  font-weight: bold;
  color: #e2fff3;
  text-decoration: none;
  background-image: url(images/bookmark.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-color: rgba(255,255,255,0.5);
}

#headernav ul li a.bookmark:hover {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 19px;
  font-family: "微软雅黑", serif;
  font-size: 17px;
  font-weight: bold;
  color: #e2fff3;
  text-decoration: underline;
  background-image: url(images/bookmark.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
}

#headernav ul li a.blog {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 12px;
  font-family: "微软雅黑", serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #e2fff3;
  text-decoration: none;
  background-image: url(images/blog.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
  background-color: rgba(255,255,255,0.5);
}

#headernav ul li a.blog:hover {
  border-radius: 10px;
  width: 45px;
  height: 20px;
  float: left;
  margin: 0 3px 0 0;
  padding: 1px 0 2px 12px;
  font-family: "微软雅黑", serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #e2fff3;
  text-decoration: underline;
  background-image: url(images/blog.jpg);
  background-repeat: no-repeat;
  background-position: 7px;
}

.headertxt {
  width: 273px;
  float: left;
  margin: 12px 0 0 0;
  padding: 0 0 0 38px;
  font-family: "楷体", serif;
  font-size: 20px;
  color: #ff7627;
  text-align: center;
}

.headerboldtxt {
  font-family: "楷体", serif;
  font-size: 20px;
  font-weight: bold;
  color: #d2ff86;
}

.headerdecoratxt {
  font-family: "楷体", serif;
  font-size: 20px;
  color: #d2ff86;
  text-decoration: underline;
  background-color: rgba(255, 167, 150, 0.7);
}

.headertxt02 {
  width: 273px;
  float: left;
  margin: 4px 0 0 0;
  padding: 0 0 0 38px;
  font-family: "楷体", serif;
  font-size: 20px;
  color: #ff7627;
  text-align: center;
}

#special {
  width: 260px;
  float: left;
  margin: 196px 0 0 0;
  padding: 0 0 0 50px;
  font-family: "Arial Narrow", serif;
  font-size: 28px;
  color: #fffd64;
  line-height: 28px;
}

#year {
  width: 215px;
  float: left;
  margin: 0;
  padding: 0 0 0 96px;
  font-family: "Arial Black", serif;
  font-size: 22px;
  color: #fff;
  line-height: 20px;
}

#searchblank {
  width: 170px;
  float: left;
  margin: 1130px 0 0 0;
  padding: 19px 0 0 140px;
  position: absolute;
}

#searchinput {
  width: 147px;
  height: 22px;
  float: left;
  margin: 0;
  padding: 0;
}

.searchinput {
  width: 146px;
  height: 21px;
  float: left;
  margin: 0;
  padding: 5px 0 0 10px;
  font-family: Arial, serif;
  font-size: 15px;
  padding-bottom: 5px;
  color: #000000;
}

#advancedsearch {
  width: 115px;
  float: left;
  margin: 35px 0 0 0;
  padding: 8px 0 0 3px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
}

.advancedsearch {
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #ff7627;
  text-decoration: none;
}

.advancedsearch:hover {
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #ff7627;
  text-decoration: underline;
}

#go {
  width: 31px;
  height: 18px;
  float: left;
  margin: 46px 0 0 0;
  padding: 0;
}

.go {
  width: 26px;
  height: 16px;
  float: left;
  margin: 0;
  padding: 2px 0 0 5px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #e1d300;
  text-decoration: none;
  background-image: url(images/gobutton.jpg);
  background-repeat: no-repeat;
}

.go:hover {
  width: 26px;
  height: 16px;
  float: left;
  margin: 0;
  padding: 2px 0 0 5px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #e1d300;
  text-decoration: none;
  background-image: url(images/gobutton.jpg);
  background-repeat: no-repeat;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#bannertxtblank {
  width: 707px;
  height: 233px;
  float: left;
  margin: 530px 0 0 -90px;
  padding: 63px 0 0 69px;
  position: absolute;
}

#bannerheading {
  width: 687px;
  height: 37px;
  float: left;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", serif;
  font-size: 36px;
  color: #e9e389;
}

#bannerheading h2 {
  width: 687px;
  height: 37px;
  float: left;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", serif;
  font-size: 36px;
  color: #e9e389;
}

#bannertxt {
  width: 687px;
  float: left;
  margin: 23px 0 0 0;
  padding: 0;
  font-family: "微软雅黑", serif;
  font-size: 14px;
  color: #b8b8b8;
}

#bannertxt p {
  width: 687px;
  float: left;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", serif;
  font-size: 14px;
  color: #b8b8b8;
}

.bannertxt {
  float: left;
  padding: 31px 0 0 0;
  font-family: "微软雅黑", serif;
  font-size: 14px;
  color: #98d2ba;
}

#bannermore {
  width: 687px;
  float: left;
  margin: 23px 0 0 0;
  padding: 0;
  font-family: "微软雅黑", serif;
  font-size: 14px;
  color: #b8b8b8;
}

.bannermore {
  width: 74px;
  height: 20px;
  float: right;
  margin: 0;
  padding: 4px 0 0 0;
  font-family: "微软雅黑", serif;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background-image: url(images/morebutton.jpg);
  background-repeat: no-repeat;
}

.bannermore:hover {
  width: 74px;
  height: 20px;
  float: right;
  margin: 0;
  padding: 4px 0 0 0;
  font-family: "微软雅黑", serif;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background-image: url(images/morebuttonover.jpg);
  background-repeat: no-repeat;
}

/*----------------------------------------------HEADER-----------------------------------------------------------------------END-------------------------------------*/
#contentbg {
  width: 100%;
  float: left;
  margin: 300px 0 0 0;
  padding: 0;
  background-image: url(images/contentbg.jpg);
  background-repeat: repeat-x;
}

#contentblank {
  width: 1504px;
  float: left;
  margin: 0 0 0 -50px;
  padding: 0;
}

#content {
  width: 1004px;
  float: left;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#contentleft {
  width: 285px;
  float: left;
  margin: 0 0 0 0;
  padding: 59px 0 59px 69px;
}

#newsheading {
  border-radius: 20px 20px 0 0;
  width: 230px;
  height: 48px;
  float: left;
  margin: 0;
  padding: 10px 0 0 55px;
  background-image: url(images/newsheading.jpg);
  background-repeat: no-repeat;
}

#newsheading h3 {
  width: 230px;
  float: left;
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 29px;
  font-weight: normal;
  color: #FFF;
}

#newstxtbg {
  width: 266px;
  height: 275px;
  float: left;
  margin: 0;
  padding: 19px 0 0 19px;
  background-image: url(images/newsbg.jpg);
  background-repeat: no-repeat;
}

#newsboldtxt {
  width: 242px;
  height: 19px;
  float: left;
  margin: 0;
  padding: 0 0 0 24px;
  font-family: Arial, serif;
  font-size: 13px;
  font-weight: bold;
  color: #f4ff79;
  background-image: url(images/numicon.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

#newsboldtxt02 {
  width: 242px;
  height: 19px;
  float: left;
  margin: 4px 0 0 0;
  padding: 0 0 0 24px;
  font-family: Arial, serif;
  font-size: 13px;
  font-weight: bold;
  color: #f4ff79;
  background-image: url(images/numicon02.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

#newsboldtxt03 {
  width: 242px;
  height: 19px;
  float: left;
  margin: 0;
  padding: 0 0 0 24px;
  font-family: Arial, serif;
  font-size: 13px;
  font-weight: bold;
  color: #f4ff79;
  background-image: url(images/numicon03.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.newstxt {
  width: 256px;
  float: left;
  margin: 9px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: normal;
  color: #d5f4d2;
}

.boldtxt {
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #d5f4d2;
}

.morenewsbutton {
  width: 256px;
  height: 15px;
  float: left;
  margin: 0;
  padding: 0;
}

.morenews {
  width: 36px;
  height: 15px;
  float: right;
  margin: 0;
  padding: 0 0 0 8px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/morenews.jpg);
  background-repeat: no-repeat;
}

.morenews:hover {
  width: 36px;
  height: 15px;
  float: right;
  margin: 0;
  padding: 0 0 0 8px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/morenewsover.jpg);
  background-repeat: no-repeat;
}

.morenewsbutton_s {
  width: 395px;
  height: 15px;
  float: left;
  margin: 0;
  padding: 0;
}

.morenews_s {
  width: 36px;
  height: 15px;
  float: right;
  margin: 10px -40px 0 0;
  padding: 0 0 0 8px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/morenews.jpg);
  background-repeat: no-repeat;
}

.morenews_s:hover {
  width: 36px;
  height: 15px;
  float: right;
  margin: 10px -40px 0 0;
  padding: 0 0 0 8px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/morenewsover.jpg);
  background-repeat: no-repeat;
}

/*---------------------------------------------------------------LEFT---------------------------------------------------------------------------END-------------------*/
#contentmid {
  width: 204px;
  float: left;
  margin: 0 0 0 12px;
  padding: 28px 0 0 0;
}

#awardheading {
  border-radius: 10px;
  width: 158px;
  height: 57px;
  float: left;
  margin: 0;
  padding: 4px 0 10px 46px;
  font-family: Arial, serif;
  font-size: 35px;
  color: #FFF;
  background-image: url(images/awardheading.jpg);
  background-repeat: no-repeat;
}

#awardheading:hover {
  border-radius: 10px;
  width: 158px;
  height: 57px;
  float: left;
  margin: 0;
  padding: 4px 0 10px 46px;
  opacity:0.8 ;
}

#awardheading h3 {
  width: 158px;
  float: left;
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 35px;
  font-weight: normal;
  color: #FFF;
}

.headingtxt {
  font-family: Arial, serif;
  font-size: 13px;
  color: #FFF;
  line-height: 13px;
}

#awardtxtblank {
  width: 194px;
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
}

.awardtxt {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: -10px 0 0 0;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(135deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt:hover {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: -10px 0 0 0;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(315deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt02 {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: -131px 0 0 400px;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(135deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt02:hover {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: -131px 0 0 400px;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(315deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt03 {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: 50px 0 0 400px;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(135deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt03:hover {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: 50px 0 0 400px;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(315deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt04 {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: -132px 0 0 0;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(135deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardtxt04:hover {
  border-radius: 20px;
  width: 370px;
  height: 120px;
  float: left;
  margin: -132px 0 0 0;
  padding: 12px 0 0 20px;
  background-image: linear-gradient(315deg, #FFFFFF, #c9e6bf);
  background-repeat: repeat-x;
}

.awardboldtxt {
  width: 174px;
  float: left;
  margin: -8px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  color: #c24b1c;
}

.awardnormaltxt {
  width: 370px;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 12px;
  color: #2f6d54;
}

.awardnormaltxt1 {
  width: 370px;
  float: left;
  margin: 5px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 12px;
  color: #2f6d54;
}

.awardnormaltxt2 {
  width: 370px;
  float: left;
  margin: 5px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 12px;
  color: #2f6d54;
}
/*----------------------------------------------AWARDPART--------------------------------------------------------------------------------------------------------END--*/
#biu2{
  width:50px;
  height:50px;
  border-radius:50%;
  background-image:radial-gradient(circle at center,#b3d4fc,#ff7627) ;
  margin: 530px 0 0 393px;
  position: absolute;
  cursor: pointer;
  border:0;
  outline:none;
  z-index: 1;
}

#biu2:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.3s, opacity 0.5s;
}

#biu2:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  /*设置初始状态*/
  transition: 0s;
}

#projectblank {
  width: 365px;
  height: 352px;
  float: left;
  margin: 555px 0 0 250px;
  padding: 28px 0 0 0;
  position: absolute;
}

#project {
  width: 303px;
  height: 300px;
  border-radius: 15px;
  float: left;
  margin: 15px 0 0 0;
  padding: 5px 1px 0 0;
  background-color: rgba(215,255,201,0.8);
}

#projectgallery {
  width: 296px;
  height: 295px;
  float: left;
  margin: -8px 0 0 5px;
  padding: 10px 0 0 0;
}



#paging {
  width: 294px;
  height: 26px;
  float: left;
  margin: 35px 0 0 8px;
  padding: 0 50px 0 0;
  background-image: url(images/paging.jpg);
  background-repeat: no-repeat;
  position: relative;
}

#paging ul {
  width: 294px;
  height: 26px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#paging ul li {
  height: 26px;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#paging ul li.sap {
  width: 1px;
  height: 24px;
  float: left;
  margin: 1px 0 0 0;
  padding: 0;
  word-spacing: 0;
  background-image: url(images/pagingsap.jpg);
  background-repeat: no-repeat;
}

#paging ul li a.prev {
  height: 20px;
  float: left;
  margin: 0;
  padding: 6px 9px 0 13px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-decoration: none;
}

#paging ul li a.prev:hover {
  height: 26px;
  float: left;
  margin: 0;
  padding: 6px 9px 0 13px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-decoration: none;
}

#paging ul li a.num {
  height: 17px;
  float: left;
  margin: 1px 0 0 0;
  padding: 6px 6px 0 6px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #1c7650;
  text-align: center;
  text-decoration: none;
}

#paging ul li a.num:hover {
  height: 17px;
  float: left;
  margin: 1px 0 0 0;
  padding: 6px 6px 0 6px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #d44d2f;
  text-align: center;
  text-decoration: none;
  background-color: #daf2e1;
}

#paging ul li a.numlast {
  height: 17px;
  float: left;
  margin: 1px 0 0 0;
  padding: 6px 0 0 6px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #1c7650;
  text-align: center;
  text-decoration: none;
}

#paging ul li a.numlast:hover {
  height: 17px;
  float: left;
  margin: 1px 0 0 0;
  padding: 6px 0 0 6px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #d44d2f;
  text-align: center;
  text-decoration: none;
  background-color: #daf2e1;
}

#paging ul li a.next {
  height: 20px;
  float: left;
  margin: 0;
  padding: 6px 13px 0 10px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-decoration: none;
}

#paging ul li a.next:hover {
  height: 20px;
  float: left;
  margin: 0;
  padding: 6px 10px 0 10px;
  font-family: Arial, serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-decoration: none;
}

/*-------------------------------------------------------CONTENT---------------------------------------------------------------------------END----------------------*/
#footerbg {
  width: 100%;
  height: 126px;
  float: left;
  margin: 0;
  padding: 0;
  background-image: url(images/footerbg.jpg);
  background-repeat: repeat-x;
}

#footerblank {
  width: 1004px;
  height: 126px;
  float: none;
  margin: 0 auto;
  padding: 0;
}

#footer {
  width: 1004px;
  height: 126px;
  float: left;
  margin: 0;
  padding: 0;
}

#footerlinks {
  width: 1004px;
  float: left;
  margin: 15px 15px 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 9px;
  color: #c8c8c8;
  text-align: center;
}

.footerlinks {
  font-family: Arial, serif;
  font-size: 11px;
  color: #c8c8c8;
  text-align: center;
  text-decoration: none;
  padding: 0 3px 0 3px;
}

.footerlinks:hover {
  font-family: Arial, serif;
  font-size: 11px;
  color: #c8c8c8;
  text-align: center;
  text-decoration: underline;
  padding: 0 3px 0 3px;
}

#copyrights {
  width: 1004px;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 13px;
  color: #ade6a7;
  text-align: center;
}

#copyrightss {
  width: 1004px;
  float: left;
  margin: 6px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 20px;
  color: #ff0000;
  text-align: center;
}

#validation {
  width: 549px;
  float: left;
  margin: 10px 0 0 0;
  padding: 0 0 0 455px;
}

.xhtml {
  width: 36px;
  height: 15px;
  float: left;
  margin: 0;
  padding: 0 0 0 8px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/xhtml.jpg);
  background-repeat: no-repeat;
}

.xhtml:hover {
  width: 36px;
  height: 15px;
  float: left;
  margin: 0;
  padding: 0 0 0 8px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/xhtml.jpg);
  background-repeat: no-repeat;
}

.css {
  width: 28px;
  height: 15px;
  float: left;
  margin: 0 0 0 3px;
  padding: 0 0 0 16px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/xhtml.jpg);
  background-repeat: no-repeat;
}

.css:hover {
  width: 28px;
  height: 15px;
  float: left;
  margin: 0 0 0 3px;
  padding: 0 0 0 16px;
  font-family: Arial, serif;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  background-image: url(images/xhtml.jpg);
  background-repeat: no-repeat;
}

#desinedby {
  width: 1004px;
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: bold;
  color: #e9e389;
  text-align: center;
}

.desinedby {
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}

.desinedby:hover {
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-decoration: underline;
}

#true_szyl{
  text-align: center;
}
#tthen{
  font-size: 25px;
  color:#ff7627;
}
#init{
  display: inline;
  color: #ffb6c3;
}





/*111*/
#real_1 {
  /*点击弹出模态框的图片*/
  margin: 5px 0 0 5px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_1:hover {
  opacity: 0.6;
}

#mo_1 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_1 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_1 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_1,
#caption_1 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_1 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_1:hover,
.close_1:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_1 {
    width: 100%;
  }
}



/*222*/
#real_2 {
  /*点击弹出模态框的图片*/
  margin: 5px 0 0 100px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_2:hover {
  opacity: 0.6;
}

#mo_2 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_2 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_2 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_2,
#caption_2 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_2 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_2:hover,
.close_2:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_2 {
    width: 100%;
  }
}


/*333*/
#real_3 {
  /*点击弹出模态框的图片*/
  margin: 5px 0 0 195px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_3:hover {
  opacity: 0.6;
}

#mo_3 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_3 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_3 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_3,
#caption_3 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_3 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_3:hover,
.close_3:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_3 {
    width: 100%;
  }
}


/*444*/
#real_4 {
  /*点击弹出模态框的图片*/
  margin: 100px 0 0 5px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_4:hover {
  opacity: 0.6;
}

#mo_4 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_4 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_4 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_4,
#caption_4 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_4 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_4:hover,
.close_4:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_4 {
    width: 100%;
  }
}


/*5*/
#real_5 {
  /*点击弹出模态框的图片*/
  margin: 100px 0 0 100px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_5:hover {
  opacity: 0.6;
}

#mo_5 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_5 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_5 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_5,
#caption_5 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_5 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_5:hover,
.close_5:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_5 {
    width: 100%;
  }
}


/*666*/
#real_6 {
  /*点击弹出模态框的图片*/
  margin: 100px 0 0 195px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_6:hover {
  opacity: 0.6;
}

#mo_6 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_6 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_6 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_6,
#caption_6 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_6 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_6:hover,
.close_6:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_6 {
    width: 100%;
  }
}


/*777*/
#real_7 {
  /*点击弹出模态框的图片*/
  margin: 195px 0 0 5px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_7:hover {
  opacity: 0.6;
}

#mo_7 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_7 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_7 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_7,
#caption_7 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_7 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_7:hover,
.close_7:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_7 {
    width: 100%;
  }
}


/*888*/
#real_8 {
  /*点击弹出模态框的图片*/
  margin: 195px 0 0 100px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_8:hover {
  opacity: 0.6;
}

#mo_8 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_8 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_8 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_8,
#caption_8 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_8 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_8:hover,
.close_8:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_8 {
    width: 100%;
  }
}


/*999*/
#real_9 {
  /*点击弹出模态框的图片*/
  margin: 195px 0 0 195px;
  width: 93px;
  height:93px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
}

#real_9:hover {
  opacity: 0.6;
}

#mo_9 {
  display: none;
  /*隐藏*/
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
}

#moimg_9 {
  display: block;
  margin: 25px auto;
  width: 60%;
  max-width: 750px;
  z-index: 3;
}

#caption_9 {
  text-align: center;
  margin: 15px auto;
  width: 60%;
  max-height: 750px;
  font-size: 20px;
  color: #ccc;
  z-index: 3;
}

#moimg_9,
#caption_9 {
  animation: first 1s;
}

@keyframes first {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.close_9 {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 14%;
  color: #f1f1f1;
}

.close_9:hover,
.close_9:focus {
  color: #bbb;
  cursor: pointer;
}

@media only screen and(max-width:750px) {
  #moimg_9 {
    width: 100%;
  }
}
